* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  background: #E8E8E8;
}

.container {
  width: 1200px;
  margin: auto;
  display: flex;
}

.app-main {
  width: 1200px;
  margin: auto;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
}