.cart-overlay {
    transition: all ease .3s;
}

.cart-opened {
    .cart-overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.8);
        z-index: 99;
        top: 0;
        left: 0;
    }

    .cart {
        right: 0;
    }
}

.cart {
    transition: all ease .3s;
    width: 300px;
    position: fixed;
    height: 100%;
    right: -300px;
    background: #FFF;
    top: 0;
    z-index: 100;
    padding: 10px 15px;
    overflow-x: auto;

    .cart-title {
        display: block;
        padding: 10px 0;
        font-weight: bold;
        font-size: 18px;
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 1px #ddd;

        .cart-close {
            font-size: 12px;
            color: #999;
            &:hover {
                color: red;
                cursor: pointer;
            }
        }
    }

    .cart-empty {
        border-top: solid 1px #ddd;
        padding: 30px 0;
        font-size: 14px;
        text-align: center;
    }

    .cart-pokemon-item {
        display: flex;
        border-bottom: solid 1px #ddd;
        padding: 10px 0;
        align-items: center;
        justify-content: space-between;
        .cart-pokemon-item-info {
            display: flex;
            flex-direction: row;
            align-items: center;
            p:first-child {
                text-transform: uppercase;
                font-size: 14px;
                color: #333;
                font-weight: bold;
                margin-bottom: 10px;
            }
            p:nth-child(2) {
                font-weight: bold;
                margin: 0;
                .qnty {
                    color: #999;
                }
            }
        }
        img {
            width: 80px;
            align-self: center;
            margin-right: 5px;
        }
    }

    .cart-total {
        padding: 15px 0;
        margin: 0;
        border-bottom: solid 1px #ddd;
        display: flex;
        justify-content: space-between;
        span:nth-child(1) {
            color: #999;
        }
        span:nth-child(2) {
            font-weight: bold;
        }
    }

    .btn-buy {
        border: 0;
        width: 100%;
        padding: 10px;
        margin: 20px auto;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        display: block;
        text-decoration: none;
        text-align: center;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 1.2em;
        color: #fff;
        background: #8bbc37;
        -webkit-box-shadow: 0 3px 1px #64950d;
        -moz-box-shadow: 0 3px 1px #64950d;
        box-shadow: 0 3px 1px #64950d;
        cursor: pointer;
        &:hover {
          -webkit-transition: background-color 1s ease-in;
          -moz-transition: background-color 1s ease-in;
          -o-transition: background-color 1s ease-in;
          transition: background-color 1s ease-in;
          margin-top: 22px;
          margin-bottom: -2px;
        }
  
        &:hover {
          background: #85b237;
        }
        &:active {
          -webkit-box-shadow: 0 1px 1px #64950d;
          -moz-box-shadow: 0 1px 1px #64950d;
          box-shadow: 0 1px 1px #64950d;
        }
      }
}